*{
  font-family: sans-serif;
}

.posicao{
  font-size: 2em;
}

.status{
  font-size: .7em;
  font-weight: bold;

  padding-top: 50px;
}

.maquina {
  padding: 10px;
  display: inline-block;
  width: 100px;
  height: 100px;
  border: 1px solid black;
  margin: 5px;
  overflow: hidden;
}

.ok{
  background-color: green;
  color: darkgreen;
}

.nao_responde{
  background-color: #666;
  color: white;
}
